<p class="text-center text-muted">
    &copy; Copyright <span id="year"></span> The Awesome People
  </p>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  